---
import Section from "../../layouts/section.astro";
import experiences from "../../collections/experiences.json";
import AboutExperience from "../../components/about-experience.astro";
---

<Section id="about" title="About Me">
  <p
    class="text-sm leading-6 text-gray-600 dark:text-neutral-400 sm:leading-7 lg:leading-8 sm:text-base lg:text-lg"
  >
    Ever since I was young, I've always been incredibly interested in technology.
    I grew up seeing the development of all kinds of 'magical' new tools, and I'm excited to now be a part of their creation.
    I'm also immensely curious about the workings of the human mind and believe one of the best ways to better understand it is through trying to replicate it.
    My studies in cognitive science and computer science have given me the tools to do just that.
    <br /><br />
    I'm an experienced researcher, dedicated to sitting down and figuring out how to solve problems and make things work.
    At the University of Toronto, I did research on multi-agent reinformcement learning, trying to apply insights from research into social influence in online social networks to create a learning objective that would motivate more selfless action.
    At Konrad Group, I researched large language model (LLM) fine-tuning and developed several full-stack proof-of-concept projects to demonstrate potential enterprise applications of LLMs, such as a tool for project managers to automatically generate Agile-style tickets from website design screenshots.
    <br /><br />
    I'm also a skilled software developer, with experience in full-stack web development, mobile app development, and machine learning.
    I've worked on projects in a variety of languages and frameworks, including Python, React, and Java.
    I'm always looking for new opportunities to learn and grow, and I'm excited to see where my career will take me next.
    I thrive in fast-paced, challenging environments where I'm given the chance to explore and experiment and learn in order to solve complex problems.
  </p>

  <h2
    class="mt-5 mb-2 text-2xl font-bold lg:mt-10 sm:mt-6 dark:text-neutral-200"
  >
    Experience
  </h2>
  <div class="px-5 pt-2">
    {
      experiences.map((experience, loop) => {
        return (
          <>
            {loop == 0 || loop == 1 ? (
              <div class="pb-10 border-l border-gray-200 dark:border-neutral-700">
                <AboutExperience
                  dates={experience.dates}
                  role={experience.role}
                  company={experience.company}
                  description={experience.description}
                  logo={experience.logo}
                />
              </div>
            ) : (
              <AboutExperience
                dates={experience.dates}
                role={experience.role}
                company={experience.company}
                description={experience.description}
                logo={experience.logo}
              />
            )}
          </>
        );
      })
    }
  </div>

</Section>
